<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4장_구조화된 출력</title>    
</head>
<body>
    <h3>4장_프롬프트 엔지니어링</h3>	
	
	<a href="/ai/list-output-converter">list-output-converter</a><br>
	<a href="/ai/bean-output-converter">bean-output-converter</a><br>
	<a href="/ai/generic-bean-output-converter">generic-bean-output-converter</a><br>
	<a href="/ai/map-output-converter">map-output-converter</a><br>
	<a href="/ai/system-message">system-message</a><br>
	
	
</body>
</html>