<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>11장_도구 호출</title>    
</head>
<body>
    <h3>11장_도구 호출</h3>
		
	<a href="/ai/date-time-tools">date-time-tools</a><br>
	<a href="/ai/heating-system-tools">heating-system-tools</a><br>
	<a href="/ai/recommend-movie-tools">recommend-movie-tools</a><br>
	<a href="/ai/exception-handling">exception-handling</a><br>
	<a href="/ai/boom-barrier-tools">boom-barrier-tools</a><br>
	<a href="/ai/file-system-tools">file-system-tools</a><br>
	<a href="/ai/internet-search-tools">internet-search-tools</a><br>
	1
</body>
</html>