<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2장_텍스트 대화</title>
    <style>
        body {
            width: 800px;
            margin: 20px auto;
        }

        #chat-panel {
            height: 500px;
            border: 1px solid #ccc;
            padding: 10px;
            overflow-y: auto;
            margin-bottom: 10px;
        }

        textarea {
            width: 100%;
            height: 80px;
            box-sizing: border-box
        }

        button {
            margin-top: 10px;
            padding: 10px;
        }
    </style>

    <script>
        async function submit(){

            const chatPanel = document.getElementById('chat-panel');
            const question = document.getElementById('question');

            const response = await fetch('/ai/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'Accept': 'application/x-ndjson'
                },
                body: new URLSearchParams({
                    question: question.value
                })
            });
			
			// 실시간 스트림 처리 자바스크립트 객체
            const reader = response.body.getReader();
			console.log(reader.read());
			
			// byte 데이터를 문자열 변환 객체
			const decoder = new TextDecoder();
			
			// 실시간 답변 출력
			while(true){
				
				const {done, value} = await reader.read();
				
				if(done){					
					break;					
				}
				
				const chunk = decoder.decode(value, {stream: true});
				
				chatPanel.innerText += chunk;			
			}			            
        }
    </script>
</head>
<body>
    <h3>2장_텍스트 대화</h3>

    <div id="chat-panel"></div>
    <textarea id="question" placeholder="질문을 입력하세요."></textarea>
    <button onclick="submit()">질문하기</button>
</body>
</html>